<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-cente">Seja bem vindes ao meu blog</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aperiam necessitatibus voluptatem, assumenda cum repellat similique corporis unde aut animi voluptates at accusamus, modi molestias! Beatae veniam quidem neque est!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quidem optio quo tempora accusantium accusamus doloribus hic quisquam aliquam obcaecati in neque, nemo doloremque, distinctio assumenda natus ducimus officiis. Qui!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente aspernatur odio saepe quos ut voluptas ea repudiandae vel soluta possimus, nemo eum. Et eveniet, delectus corporis aperiam id sapiente!
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
