<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="https://drive.google.com/file/d/1X-NKzdMiw6wp4Qa1oWn08axMggD5g289/view" class="card-img-top rounded-circle w-75" alt="Imagem card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.linkedin.com/in/samuel-firmino/" class="btn btn-outiline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      <a href="https://github.com/samfir31" class="btn btn-outiline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>